package ${java.beanPrefix};

import lombok.*;
import java.math.BigDecimal;
import java.util.Date;


/**
 * @ClassName ${java.className}模型类
 * @Description ${java.note}
 * @Author ${java.author}
 * @Date ${java.dateTime}
 * @Email ${java.email}
 **/
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder
@ToString
public class ${java.className} {

#foreach( $attr in $java.attrs )
#if ($attr.generator)

    /**
     * $attr.attrNote
     */
    private $attr.attrType $attr.attrName;
#end
#end


}