package ${java.controllerPrefix};

import java.util.List;
import ${java.servicePrefix}.${java.className}Service;
import cn.victorplus.car.base.bean.dto.RespDTO;
import org.springframework.web.bind.annotation.*;
import javax.annotation.Resource;
import lombok.extern.slf4j.Slf4j;
import cn.victorplus.car.base.bean.dto.RespDTO;


/**
 * @ClassName ${java.className}Controller
 * @Description ${java.note} 管理 API
 * @Author ${java.author}
 * @Date ${java.dateTime}
 * @Email ${java.email}
 **/
@RestController
@RequestMapping("/web/${java.paramName}")
@Slf4j
public class ${java.className}Controller {

    @Resource
    private ${java.className}Service ${java.paramName}Service;

}
