package ${java.packagePrefix}.bean.dto;

import lombok.*;
import cn.victorplus.car.base.bean.base.page.Pagination;
import ${java.packagePrefix}.bean.db.${java.className};
import java.util.List;
import java.math.BigDecimal;
import java.util.Date;


/**
 * @ClassName ${java.className}模型类
 * @Description ${java.note}管理接口
 * @Author ${java.author}
 * @Date ${java.dateTime}
 * @Email ${java.email}
 **/
@Getter
@Setter
@ToString
public class ${java.className}DTO extends ${java.className} {

    /**
     * 批量查询参数
     */
    private List<String> batchQueryList;

    /**
     * 分页信息
     */
    private Pagination pagination;

    /**
     * 列表数据
     */
    private List<${java.className}DTO> ${java.paramName}DTOList;
#foreach( $attr in $attrs )
#if($attr.jdbcType == "DATE")
#if($attr.attrName != "created" && $attr.attrName != "modified")
    /**
     * ${attr.attrNote}开始时间
     */
    private $attr.attrType ${attr.attrName}Begin;

    /**
     * ${attr.attrNote}结束时间
     */
    private $attr.attrType ${attr.attrName}End;

#end
#end
#end

}