package ${java.packagePrefix}.bean.enums.${java.className};

import lombok.AllArgsConstructor;
import lombok.Getter;

/**
 * @ClassName ${java.className}
 * @Description 【返佣类型：1，月度返佣；2，半年度返佣；3，特殊返佣】
 * @Author wangjie
 * @Date 2020/6/1 2:21 下午
 * @Email wangjie_fourth@163.com
 **/
@Getter
@AllArgsConstructor
public enum ${java.className}Enum {
    MONTH(1,"月度返佣"),
    HALF_YEAR(2,"半年度返佣"),
    SPECIAL(3,"特殊返佣"),
    ;
    private final Integer code;
    private final String msg;

    public static CommissionTypeEnum valueOf(int code) {
        for (CommissionTypeEnum enumItem : CommissionTypeEnum.values()) {
            if (enumItem.getCode() == code) {
                return enumItem;
            }
        }
        return null;
    }
}
