package ${java.packagePrefix}.manager;

import org.springframework.stereotype.Service;
import ${java.packagePrefix}.mapper.${java.className}Mapper;
import lombok.extern.slf4j.Slf4j;
import ${java.packagePrefix}.bean.db.${java.className};
import javax.annotation.Resource;
import java.util.List;
import java.util.function.Function;

/**
 * @ClassName ${java.className}Manager
 * @Description ${java.note}管理接口
 * @Author ${java.author}
 * @Date ${java.dateTime}
 * @Email ${java.email}
 **/
@Service
@Slf4j
public class ${java.className}Manager {

    @Resource
    private ${java.className}Mapper ${java.paramName}Mapper;

}