package ${java.mapperJPrefix};

import ${java.beanPrefix}.${java.className};
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;
import java.util.List;

/**
 * @ClassName ${java.className}Mapper
 * @Description ${java.note}数据接口
 * @Author ${java.author}
 * @Date ${java.dateTime}
 * @Email ${java.email}
 **/
@Mapper
@Repository
public interface ${java.className}Mapper  {

    /**
     * 【根据id更新数据】
     *
     * @param   ${java.paramName}   id作为更新条件，其作为更新参数
     * @return  影响数据的条数
     */
    int updateSelectiveById(${java.className} ${java.paramName});

    /**
     * 【根据id查询】
     *
     * @param   id  数据id
     * @return  查询的数据
     */
    ${java.className} selectById(Long id);

    /**
     * 【新增非空属性数据】
     *
     * @param   ${java.paramName}   新增参数
     * @return  影响数据的条数
     */
    int insertSelective(${java.className} ${java.paramName});

    /**
     * 【查询符合条件的数据个数】
     *
     * @param   ${java.paramName}   查询条件
     * @return  符合条件的数据个数
     */
    int countBySelective(${java.className} ${java.paramName});

    /**
     * 【获取符合条件的数据】
     *
     * @param   ${java.paramName}   查询条件
     * @return  查询的数据
     */
    List<${java.className}> selectBySelective(${java.className} ${java.paramName});
}

