<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${java.packagePrefix}.mapper.${java.className}Mapper">

    <resultMap id="BaseResultMap" type="${java.packagePrefix}.bean.db.${java.className}">
#foreach($attr in $java.attrs)
#if ($attr.pk)
        <id column="${attr.columnName}" property="${attr.attrName}" jdbcType="${attr.jdbcType}"/>
#else
        <result column="${attr.columnName}" property="${attr.attrName}" jdbcType="${attr.jdbcType}"/>
#end
#end
    </resultMap>

    <sql id="allColumns">
#foreach($attr in $java.attrs)
        a.${attr.columnName}#if($foreach.hasNext),
#end
#end
    </sql>

    <sql id="baseColumns">
#foreach($attr in $java.attrs)
#if($attr.attrName != "created" && $attr.attrName != "modified")
        a.${attr.columnName}#if($foreach.hasNext),
#end
#end
#end
    </sql>

    <select id="listByPage" resultMap="BaseResultMap" parameterType="${java.packagePrefix}.bean.dto.${java.className}DTO">
        SELECT
            <sql id="baseColumns"/>
        FROM
            `${java.tableName}` a
        <where>
            a.is_delete = 0
#foreach($attr in $java.attrs)
#if($attr.attrName != "created" && $attr.attrName != "modified")
#if($attr.jdbcType == "VARCHAR")
            <if test="${attr.attrName} != null and ${attr.attrName} != ''">
                AND a.${attr.columnName} =  #{${attr.attrName},jdbcType=${attr.jdbcType}}
            </if>
#elseif($attr.jdbcType == "DATE")
            <if test="${attr.attrName}Begin != null and ${attr.attrName}End != null">
                AND a.${attr.columnName} between #{${attr.attrName}Begin,jdbcType=${attr.jdbcType}} and  #{${attr.attrName}End,jdbcType=${attr.jdbcType}}
            </if>
#else
            <if test="${attr.attrName} != null">
                AND a.${attr.columnName} =  #{${attr.attrName},jdbcType=${attr.jdbcType}}
            </if>
#end
#end
#end
            <if test="batchQueryList !=null and batchQueryList.size >0">
                AND 批量查询字段 in
                <foreach collection="batchQueryList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <update id="updateSelectiveById" parameterType="${java.packagePrefix}.bean.db.${java.className}">
        UPDATE `${java.tableName}`
        <set>
#foreach($attr in $java.attrs)
#if (!$attr.pk)
            <if test="${attr.attrName} != null">
                ${attr.columnName} =  #{${attr.attrName},jdbcType=${attr.jdbcType}},
            </if>
#end
#end
        </set>
#foreach($attr in $java.attrs)
#if ($attr.pk)
        where ${attr.columnName} =  #{${attr.attrName},jdbcType=${attr.jdbcType}}
#end
#end
    </update>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
            <sql id="baseColumns"/>
        FROM
            `${java.tableName}` a
#foreach($attr in $java.attrs)
#if ($attr.pk)
        where a.${attr.columnName} =  #{${attr.attrName},jdbcType=${attr.jdbcType}}
#end
#end
    </select>
    
    <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="${java.packagePrefix}.bean.db.${java.className}">
        INSERT INTO `${java.tableName}`
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($attr in $java.attrs)
            <if test="${attr.attrName} !=null">
                ${attr.columnName},
            </if>
#end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach($attr in $java.attrs)
            <if test="${attr.attrName} !=null">
                #{${attr.attrName},jdbcType=${attr.jdbcType}},
            </if>
#end
        </trim>
    </insert>

    <select id="countBySelective" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            `${java.tableName}` a
        <where>
#foreach($attr in $java.attrs)
#if($attr.attrName != "created" && $attr.attrName != "modified")
#if($attr.attrName == "is_delete")
            <if test="${attr.attrName} == null">
                AND a.${attr.attrName} = 0
            </if>
            <if test="${attr.attrName} != null">
                AND a.${attr.attrName} = #{${attr.attrName},jdbcType=${attr.jdbcType}}
            </if>
#elseif($attr.jdbcType == "VARCHAR")
            <if test="${attr.attrName} != null and ${attr.attrName} != ''">
                AND a.${attr.columnName} =  #{${attr.attrName},jdbcType=${attr.jdbcType}}
            </if>
#elseif($attr.jdbcType == "DATE")
            <if test="${attr.attrName}Begin != null and ${attr.attrName}End != null">
                AND a.${attr.columnName} between #{${attr.attrName}Begin,jdbcType=${attr.jdbcType}} and  #{${attr.attrName}End,jdbcType=${attr.jdbcType}}
            </if>
#else
            <if test="${attr.attrName} != null">
                AND a.${attr.columnName} =  #{${attr.attrName},jdbcType=${attr.jdbcType}}
            </if>
#end
#end
#end
        </where>
    </select>

    <select id="selectBySelective" resultMap="BaseResultMap">
        SELECT
            <sql id="baseColumns"/>
        FROM
            `${java.tableName}` a
        <where>
#foreach($attr in $java.attrs)
#if($attr.attrName != "created" && $attr.attrName != "modified")
#if($attr.attrName == "is_delete")
            <if test="${attr.attrName} == null">
                AND a.${attr.attrName} = 0
            </if>
            <if test="${attr.attrName} != null">
                AND a.${attr.attrName} = #{${attr.attrName},jdbcType=${attr.jdbcType}}
            </if>
#elseif($attr.jdbcType == "VARCHAR")
            <if test="${attr.attrName} != null and ${attr.attrName} != ''">
                AND a.${attr.columnName} =  #{${attr.attrName},jdbcType=${attr.jdbcType}}
            </if>
#elseif($attr.jdbcType == "DATE")
            <if test="${attr.attrName}Begin != null and ${attr.attrName}End != null">
                AND a.${attr.columnName} between #{${attr.attrName}Begin,jdbcType=${attr.jdbcType}} and  #{${attr.attrName}End,jdbcType=${attr.jdbcType}}
            </if>
#else
            <if test="${attr.attrName} != null">
                AND a.${attr.columnName} =  #{${attr.attrName},jdbcType=${attr.jdbcType}}
            </if>
#end
#end
#end
        </where>
    </select>
</mapper>